h1 {
    text-align: center;

}
.google-maps {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
footer {
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: black;
    color: rgb(0, 0, 0);
    background-color: azure;
    bottom: 0%;
}