body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%)
    ;
}
header{
    max-width: 500px;
    text-align: center;
    margin:50px auto;
}
h1{
    font-weight: 200;
    margin:0;
}
.bold{
    font-weight: 600;
}
p{
    color:hsl(229, 6%, 66%);
}

.container{
    display: flex;
    max-width:1440px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content:center;
}
.box{
    background-color: #fff;
    padding:30px;
    width:350px;
    margin:20px;
    box-shadow:0 10px 20px rgba(0,0,0,0.5) , 0 6px 6px rgba(0,0,0,0.1);
}
.box img{
    display:block;
    margin-left:auto;
}
.box h3{
    margin:0;
    font-weight: bold;
}
.box p{
    font-size: 20px;
    margin:15px 0 30px;
    
}
@media(min-width:1212px){
    .push{
        transform: translateY(50%);
    }
}
img {
    text-align: center;
    float: center;
    display: inline;
    padding: auto;
    letter-spacing: 40%;
}

footer {
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: black;
    color: rgb(0, 0, 0);
    background-color: azure;
}
